<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Корзина</title>
  <link rel="stylesheet" href="/css/cartStyle.css">
  <link rel="stylesheet" href="/css/navbarStyle.css">
</head>
<body>
<div class="navbar">
  <div class="left">
    <a href="/">Главная</a>
    <a href="/orders" id="ordersButton" style="display:none;">Заказы</a>
    <a href="/admin/orders" id="adminOrdersButton" style="display:none;">Все заказы</a>
  </div>
  <div class="user-info">
    <a href="/account/{login}"><p>Логин: <span id="login"></span></p></a>
    <div class="popup">
      <p><strong>Роль:</strong> <span id="role"></span></p>
      <p><strong>Имя:</strong> <span id="firstName"></span></p>
      <p><strong>Фамилия:</strong> <span id="lastName"></span></p>
      <p><strong>Отчество:</strong> <span id="middleName"></span></p>
      <p><strong>Почта:</strong> <span id="email"></span></p>
    </div>
  </div>
  <div>
    <a href="/cart" id="cartButton" style="display:none;">Корзина</a> <!-- initially hidden -->
  </div>
  <div>
    <a href="/login" id="loginButton">Войти</a>
    <a href="/register" id="registerButton">Зарегистрироваться</a>
    <a href="/logout" id="logoutButton" style="display:none;">Выйти</a>
  </div>
</div>
<div class="content">
  <h2>Корзина</h2>
  <div class="cart-list" id="cartList"></div> <!-- Список товаров в корзине -->
  <div class="total">
    <p>Итого: <span id="totalAmount">0</span> ₽</p>
    <button id="placeOrderButton">Заказать</button>
  </div>
</div>
<script src="/js/loadUserInfo.js"></script>
<script src="/js/getLogin.js"></script>
<script src="/js/loadCart.js"></script>
<script src="/js/removeFromCart.js"></script>
<script src="/js/changeQuantity.js"></script>
<script src="/js/placeOrder.js"></script>
<script src="/js/loadCartPage.js"></script>
</body>
</html>