<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Авторизация</title>
  <link rel="stylesheet" href="/css/loginStyle.css">
</head>
<body>
<div class="auth-container">
  <div class="auth-box">
    <h2>Авторизация</h2>
    <form action="/login" method="post">
      <input type="hidden" name="_csrf" id="csrf-token">
      <label for="username">Логин</label>
      <input type="text" id="username" name="username" placeholder="Введите логин" required>
      <label for="password">Пароль</label>
      <input type="password" id="password" name="password" placeholder="Введите пароль" required>
      <button type="submit">Войти</button>
      <a href="/"><button type="button">Назад</button></a>
    </form>
  </div>
</div>
<script src="/js/loginCsrfToken.js"></script>
</body>
</html>
