<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Выход</title>
  <link rel="stylesheet" href="/css/logoutStyle.css">
</head>
<body>
<div class="auth-container">
  <div class="auth-box">
    <h2>Вы хотите выйти?</h2>
    <form action="/logout" method="post">
      <button type="submit">Выйти</button>
      <a href="/"><button type="button">Назад</button></a>
    </form>
  </div>
</div>
</body>
</html>
