<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Регистрация</title>
  <link rel="stylesheet" href="/css/registerStyle.css">
</head>
<body>
<div class="auth-container">
  <div class="auth-box">
    <h2>Регистрация</h2>
    <form onsubmit="event.preventDefault(); register();">
      <label for="login">Логин</label>
      <input type="text" id="login" placeholder="Введите логин" required>
      <label for="password">Пароль</label>
      <input type="password" id="password" placeholder="Введите пароль" required>
      <label for="firstName">Имя</label>
      <input type="text" id="firstName" placeholder="Введите имя" required>
      <label for="lastName">Фамилия</label>
      <input type="text" id="lastName" placeholder="Введите фамилию" required>
      <label for="middleName">Отчество</label>
      <input type="text" id="middleName" placeholder="Введите отчество" required>
      <label for="email">Почта</label>
      <input type="email" id="email" placeholder="Введите почту" required>
      <button type="submit">Зарегистрироваться</button>
      <a href="/"><button type="button">Назад</button></a>
    </form>
  </div>
</div>
<script src="/js/register.js"></script>
</body>
</html>
